.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.customer-detail-container {
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}