.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.appointment-container {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
