.table-container {
    overflow-y: scroll; 
    overflow-x: scroll;
    height: 80vh; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

th {
    background-color: #fff;
}
