.calendar-container {
    padding-right: 5px;
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

.fc-toolbar-title {
    font-size: 18px;
  }
  
  @media (max-width: 505px) {
    .fc-toolbar-title {
      font-size: 14px;
    }
  }
  