.not-found-background {
    background-image: url('../images/404.jpeg');
    width: 100%;
    border-radius: 7px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100%
  }

.not-found-container {
    background-color: rgba(255, 255, 255, 0.5);
    height: 87vh;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}

.text-background {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 7px;
}

.text-background h2 {
    font-size: 35px;
}

.text-background p {
    font-size: 18px;
}

.redirect-count{
    color: rgb(255, 0, 43);
}


@media (max-width: 575px) {
    .text-background h2 {
      font-size: 28px;
    }
  
    .text-background p {
      font-size: 18px;
    }
  }
  

  @media (min-width: 576px) and (max-width: 991px) {
    .text-background h2 {
      font-size: 40px;
    }
  
    .text-background p {
      font-size: 20px;
    }
  }
  

  @media (min-width: 992px) {
    .text-background h1 {
      font-size: 55px;
    }
  
    .text-background p {
      font-size: 22px;
    }
  }



